.page__about {
  margin: 1.5rem auto;
  width: 1200px;
  line-height: 26px;
}

.page__about h2 {
  text-align: center;
  line-height: 32px;
  color: #070D3D;
  margin: 1rem 0;
}

ul {
  list-style-type: disc;
}

ul li {
  margin-left: 2rem;
} 