.main {
  margin-bottom: 2rem;
}

.form {
  max-width: 600px;
  margin: auto;
}

.form label {
  line-height: 29px;
  display: block;
  margin-bottom: -0.1rem;
  color: #154b02;
}

.form p {
  color: #154b02;
  margin-bottom: 1rem;
}

.form input {
  width: 90%;
  padding: 1rem;
  border-radius: 20px;
  border: 0.5px solid #aeb0c8;
  color: #333;
  font-style: italic;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
  outline: none;
  font-size: 16px;
  font: inherit;
}

.custom__select {
  position: relative;
  width: 106%;
  margin-bottom: 1.7rem;
}

.custom__select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1rem;
  border-radius: 20px;
  width: 90%;
  border: 0.5px solid #aeb0c8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  outline: none;
}

.custom__select::after {
  content: "▼";
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  cursor: pointer;
}

input[type="text"]:focus {
  border: 0.5px solid #154b02;
}
