.nav {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  max-width: 100%;
  height: 3.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.home {
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  color: #154B02;
  box-shadow: inset 0 0 0 0 #154B02;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.home:hover {
  color: #ffffff;
  background: rgba(2, 48, 7, 1);
  box-shadow: inset 100px 0 0 0 rgba(2, 48, 7, 1);
}

.home:active {
  color: #070d3d;
}

.nav .ABU {
  display: flex;
  align-items: center;
}

.ABU span {
  color: #154b02;
  margin-left: 1.5rem;
}

.nav ul {
  list-style-type: none;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav ul li {
  margin-right: 3.5rem;
}